<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pyvore!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->

    {% assets filters="cssmin", output="styles.css",
      "bootstrap/css/bootstrap.css",
      "styles.css"
    %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ request.route_url('index') }}">Pyvore</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="{{ request.route_url('index') }}">Home</a></li>
            </ul>
            {% if request.user %}
            <p class="navbar-text pull-right">Logged in as <a href="{{ request.route_url('profile', user_pk=request.user.pk) }}">{{ request.user.display_name }}</a> | <a href="{{ request.route_url('logout') }}">Logout</a></p>
            {% else %}
              <p class="navbar-text pull-right"><a href="{{ request.route_url('login') }}">Login</a></p>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="container-body" class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          {% if request.user %}
          <div class="well sidebar-nav">
          </div><!--/.well -->
          {% endif %}
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            {% block content %}
            <h1>Welcome!</h1>
            <a href="{{ request.route_url('register') }}">Register Now!</a>
            {% endblock %}
          </div>
        </div> <!-- /span -->
      </div>
      <hr>
    </div><!--/.fluid-container-->

      <footer>
        <p>&copy; Pyvore 2012</p>
      </footer>
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% if request.user %}
    <script type="text/javascript">
      var user_id = {{ request.user.pk }};
      var user_name = "{{ request.user.username }}";
    </script>
    {% endif %}
    {% assets filters="jsmin", output="packed.js",
      "libs/jquery.js",
      "libs/underscore.js",
      "libs/backbone.js",
      "libs/backbone.layoutmanager.js",
      "libs/handlebars.js",
      "libs/socket.io.js",
      "pyvore.js",
      "index.js",
      "modules/sessions.js",
      "jst"
    %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
