{% extends "base.jinja2" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="content span12">
    <h1>Profile Information</h1>
    {{ form | safe }}
  </div>
</div>
{% endblock %}
